.fbd-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 100vmax var(--ribbon-color);
    clip-path: inset(0 -100vmax);
    z-index: -1;
}
